		<div id="garage-status-bar">
			<span id="garage-status-bar-text"></span>
		</div>
		<script src="bower_components/flat-ui/dist/js/flat-ui.min.js" type="text/javascript"></script>
		<script src="./js/app.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="./bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js" type="text/javascript" charset="utf-8" async defer></script>
	</body>
</html>
