<!DOCTYPE html>
<html>
	<head>
		<link href="bower_components/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./bower_components/flat-ui/dist/css/flat-ui.min.css" />
		<link rel="stylesheet" href="css/common.css">
		<script src="./bower_components/flat-ui/dist/js/vendor/jquery.min.js" type="text/javascript"></script>
		<title> <%= title %> </title>
		<script src="./js/garage.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>