<nav class="navbar navbar-inverse" role="navigation" style="border-radius: 0px">
	<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/"> <%= title %> </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li><a href="/new">New VM</a></li>
      <li><a href="#fakelink">Settings</a></li>
    </ul>
    <% include spinner %>
  </div>
</nav>

<div id="alert-area"></div>